body {
  background-color: #EAF6F6;
  text-align: center;
}

h1 {
  color: #004445;
}

/*

h3 {

  color: #66BFBF;
}

*/

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 10px auto;
}
